* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a, a:visited {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

section {
    padding-block: 4.5rem;
}

.main-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #FFFFFF;
}

.main-header a {
    color: #FFFFFF;
}

.main-header__top {
    background-color: rgba(34, 34, 34, 1);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.main-header__bottom {
    background-color: rgba(240, 168, 62, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    padding-inline: 4rem;
}

.main-header__bottom nav {
    display: none;
}

.fa-bars {
    color: #FFFFFF;
}

.hero {
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    align-items: flex-end;
    padding-block: 12.4rem;
}

.hero div {
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: .5rem;
    align-self: center;
}

.hero h2 {
    color: rgba(60, 35, 19, 1);
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

.hero p, .hero button {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: rgba(60, 35, 19, 1);
    margin-right: 25%;
    color: #FFFFFF;

}

.hero button {
    padding: 1.5rem 2.3rem;
    text-transform: capitalize;
    /* text-decoration: underline; */
    background-color: rgba(240, 168, 62, 1);
    border-radius: .5rem;
    border: none;
    margin-top: 1.2rem;
    cursor: pointer;
}

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.destacados h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: rgba(60, 35, 19, 1);

}

.destacados ul {
    display: flex;
    flex-direction: row;
    gap: 2.1rem;
}

.destacados ul li::marker {
    color: rgba(102, 102, 102, 1);
    content: '—  ';
}

.destacados ul li:first-child::marker {
    content: '';
}

.destacados li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(102, 102, 102, 1);
}

.destacados .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.destacados .card {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

.destacados .card h3 {
    color: rgba(60, 35, 19, 1);
}

.destacados .card p {
    color: rgba(240, 168, 62, 1);

}

.contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.contactanos form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.contactanos h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgba(60, 35, 19, 1);
}

.contactanos label, .contactanos input {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    width: 100%;
}

/* .contactanos input {
    width: 100%;
} */

.contactanos input::placeholder {
    color: #FFFFFF;
}

.contactanos .form-group {
    width: 340px;
    height: 40px;
    background-color: rgba(60, 35, 19, 1);
    border-radius: 1.5rem;
    /* margin-bottom: 1.5rem; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 1rem;
}

.contactanos .btn-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.contactanos button {
    width: 110px;
    height: 34px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
}


.contactanos #reset {
 background: rgba(138, 135, 135, 1);
}

.contactanos [type="submit"] {
    background-color: rgba(240, 168, 62, 1);
    cursor: pointer;
}

footer {
    padding-block-start: 4.5rem;
}

footer h3, footer .footer-card h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

footer header {
    background-color: rgba(240, 168, 62, 1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-block: 2rem;
}

.footer-header-left {
    display: flex;
    gap: 1.7rem;
}

.footer-header-right form{
    display: flex;
    gap: 1.7rem;

}

footer .form-group {
    width: 270px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
}

footer label, footer input, footer input::placeholder {
    color: rgba(160, 160, 160, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 9px;
    border: none;
    background-color: transparent;
    width: 100%;
}

footer [type="submit"] {
    background-color: rgba(60, 35, 19, 1);
    padding: 11px;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 9px;
    cursor: pointer;
}



.footer-mid {
    background-color: rgba(60, 35, 19, 1);
    padding-inline: 1rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 4rem;

}

.footer-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    /* padding-inline: 15%; */
}

.footer-card {
    display: flex;
    gap: 1rem;
}

.footer-card p {
    color: rgba(138, 135, 135, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
}

.footer-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-logo {
    align-self: center;
    order: -1;
}

.footer-bottom {
    background-color: rgba(34, 34, 34, 1);
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
}

.footer-bottom p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
}

.footer-bottom div {
    display: flex;
    justify-content: space-between;
    gap: .8rem;
}

.fa-facebook, .fa-twitter, .fa-instagram {
    color: #FFFFFF  ;
}

@media only screen and (min-width: 768px) {
    .main-header__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 4rem;
        padding-block: 1.5rem;
    }

    .main-header__top-languages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: .5rem;
    }

    .main-header__top-languages span{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: .5rem;
    }

    .main-header__bottom nav {
        display: block;
    }

    .main-header__bottom nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .fa-bars {
        display: none;
    }

    .hero {
        /* background-repeat: repeat-x; */
        background-color: #a1dfba;
    }

    .hero div {
        align-self:initial;
        margin-right: 15%;
    }

    .hero p, .hero button {
        margin-right: 20%;
    }

    .destacados .cards {
        flex-direction: row;
    }

    footer header {
        flex-direction: row;
        justify-content: space-between;
        padding-inline:4rem;
    }

    .footer-mid {
        flex-direction: row;
    }

    .footer-logo {
        width: 70%;
        order: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-inline-end: 2rem;
    }
}